html {
  font-size: (100/640)*10vw;
}


.page-intro {
  // background: url('/img/个人信息/个人信息-信息图标.png') no-repeat;
  min-height: 100%;
  padding: 3rem;
  font-size: 3rem;
  overflow: hidden;

  &.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h2 {
      margin: 0 auto 1em;
    }

  }

  .steps {
    display: flex;
    justify-content: space-between;
  }
}
