html {
  font-size: 10px;
}


.page-intro {
  // background: url('/img/个人信息/个人信息-信息图标.png') no-repeat;
  min-height: 100%;
  padding: 3rem 3rem 4rem;
  font-size: 3rem;
  overflow: hidden;

  &.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h2 {
      margin: 0 auto 1em;
    }

  }

  &.steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .steps {
      margin-bottom: 1em;
    }

    h2 {
      font-size: 3rem;
    }

    img.dialog {
    }

    &.step1 {
      .comp-radio {
        padding: 0 2rem;
      }
    }

    &.step4 {
      .comp-radio {
        .list {
          button {
            padding: 1.1em;
            width: 180px;
            height: 180px;
            letter-spacing: 0.6em;
            border-radius: 2rem;
            text-align: right;
            line-height: 168%;
          }
        }
      }
    }

    &.step5 {
      footer {
        background: #fff;
        margin-left: -3rem;
        margin-right: -3rem;
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 10px;
          border-bottom: 1px solid #ccc;
          margin-bottom: 2rem;
          li {
            &:nth-child(odd) {
              font-size: 2rem;
              color: #aaa;
            }
            &:nth-child(even) {
            }
          }
        }
        input {
          width: calc(100% - 20px);
          height: 60px;
          margin: 0 10px;
          background: #ddd;
          border: none;
          border-radius: 2px;
          padding: 3px 5px;
          &:focus {
            border: none;
          }
        }
      }
    }
  }

}

.comp-radio {
  .list {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }
  button {
    border: none;
    border-radius: 1rem;
    background: rgb(104, 226,	220);
    width: 184px;
    line-height: 72px;
    font-size: 3rem;
    color: #fff;
    &.submit {
      width: 100%;
    }
    &.inactive {
      background: #ddd;
    }
  }
}

.picker-wrapper.sc-ion-picker-ios {
  width: 100%;
  max-width: initial;
}
.picker-toolbar.sc-ion-picker-ios {
  .picker-toolbar-button {
    .picker-button {
      font-size: 2rem;
      color: #333;
    }
    &:nth-child(2) {
      text-align: center;
      .picker-button {
        font-size: 2.5rem;
      }
    }
    &:last-child {
      .picker-button {
        color: #ccc;
      }
    }
  }
  
}

ion-picker-column {
  .picker-opt.picker-opt-selected {
    color: rgb(104, 226,	220);
    font-size: 3rem;
    font-weight: bold;

  }
}