body {
  font-size: (100/640)*10vw;
}


.page-intro {
  // background: url(/public/img/个人信息/个人信息-信息图标.png) no-repeat;
  min-height: 100%;
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: -2em;
  overflow: hidden;
  h2 {
    margin: 0 auto 1em;
  }
}
